@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root{
    --font-family: 'Rubik', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: var(--font-family);
}

header{
    margin-bottom: 8rem;
}

.topnav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.menu-btn{
    height: 1rem;
}

.top-logo{
    height: 1.7rem;
}

.main-menu{
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color:  rgb(87, 102, 170);
    top: -3.5%;
    left: 0%;
    list-style-type: none;     
}

.main-menu li a{
    text-decoration: none;
    color: white;
}

.main-menu .menu-header{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 1.5rem 0;
    border: none;
}

.main-menu .menu-close-icon{
    height: 1.2rem;
    margin-left: auto;
    cursor: pointer;
}

.main-menu li{
    font-size: 24px;
    text-align: center;
    margin-right: 3.5rem;
    padding: 1rem 0;
    border-bottom: 1px solid white;
    text-transform: uppercase;
}


.main-menu .menu-login-btn{
    border: none
}

.menu-login-btn button{
    width: 100%;
    height: 3rem;
    font-size: 24px;
    color: white;
    background: none;
    border: 3px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.hero-banner img{
    width: 100%;
}

.hero-banner article{
    text-align: center;
}

.hero-banner article h1{
    font-size: 35px;
    font-weight: 500;
}

.hero-banner article p{
    font-size: 18px;
    line-height: 2rem;
    margin: 0 2rem;
    color: hsl(229, 8%, 60%);
}

.hero-banner .option-btn{
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0;
}

.option-btn button{
    width: 45%;
    height: 3rem;
    border-radius: 5px;
    font-size: 18px;
    border: none;
}

#hero-chrome-btn{
    background-color: hsl(231, 69%, 60%);
    border: 3px solid hsl(231, 69%, 60%);
    color: white;
}

#hero-chrome-btn:hover{
    background: none;
    color: hsl(231, 69%, 60%);
}

#hero-firefox-btn{
    color: hsl(229, 8%, 60%);
}

.features article{
    text-align: center;
    margin: 0 2rem;
}

.features article h1{
    font-size: 30px;
    font-weight: 500;
}

.features article p{
    font-size: 18px;
    color:hsl(229, 8%, 60%);
    line-height: 2rem;
}

.feature-menu{
    list-style-type: none;
}

.feature-menu li{
    text-align: center;
    margin-right: 3rem;
    font-size: 18px;
    margin-top: 2rem;
    border-bottom: 1px solid hsl(229, 8%, 60%);
}

.feature-menu li:hover{
    color:hsl(0, 94%, 66%);
}

.tab-articles{
    margin-top: 4rem;
}

.tab-articles img{
    width: 80%;
    margin:0 2rem;
}

.tab-articles button{
    width: 45%;
    height: 3rem;
    font-size: 18px;
    background: hsl(231, 69%, 60%);
    border: 3px solid hsl(231, 69%, 60%);
    border-radius: 5px;
    color: white;
}

.tab-articles button:hover{
    color: hsl(231, 69%, 60%);
    background: none;
}

.downloads article{
    text-align: center;
}

.downloads article h1{
    font-size: 30px;
    font-weight: 500;
}

.downloads article p{
    color: hsl(229, 8%, 60%);
    margin: 0 2rem;
    line-height: 2rem;
    font-size: 18px;
}


.downloads{
    margin: 6rem 0;
}

.download-card{
    text-align: center;
    margin: 2.5rem;
    box-shadow: 2px 11px 40px -18px rgba(0,0,0,0.26);
    -webkit-box-shadow: 2px 11px 40px -18px rgba(0,0,0,0.26);
    -moz-box-shadow: 2px 11px 40px -18px rgba(0,0,0,0.26);
    border-radius: 10px;
    padding: 1.5rem;
}

.download-card p{
    color:hsl(229, 8%, 60%);
}

.download-card button{
    height: 3rem;
    border-radius: 5px;
    background: hsl(231, 69%, 60%);
    border: 3px solid hsl(231, 69%, 60%);
    color: white;
    font-size: 16px;
    padding: 1rem;
}

.download-card button:hover{
    background: none;
    color: hsl(231, 69%, 60%);
}

.faq{
    text-align: center;
    margin: 2rem 0;
}

.faq h1{
    font-size: 30px;
    font-weight: 500;
}

.faq p{
    font-size: 18px;
    color: hsl(229, 8%, 60%);
    line-height: 2rem;
}

.question{
    margin: 1rem;
    border-bottom: 1px solid hsl(229, 8%, 60%);
}

.question h1{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

.question h1 img{
    height: 1rem;
}

.question p{
    text-align: left;
    font-size: 18px;
}

.faq button{
    width: 30%;
    height: 3rem;
    background: hsl(231, 69%, 60%);
    border: 3px solid hsl(231, 69%, 60%);
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.faq button:hover{
    background: none;
    color:hsl(231, 69%, 60%);
}


.signup{
    background: hsl(231, 69%, 60%);
    text-align: center;
    color: white;
    margin-top: 7rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.signup h1{
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 5px;
    font-weight: 400;
}

.signup h2{
    font-size: 26px;
    margin: 1rem 2rem;
}

.signup form{
    display: flex;
    flex-direction: column;
}

.signup input{
    width: 50%;
    height: 1.7rem;
    margin: 1rem auto;
    border-radius: 5px;
}

.signup button{
    width: 50%;
    margin: 0 auto;
    height: 2rem;
    font-size: 16px;
    border-radius: 5px;
    border:3px solid hsl(0, 94%, 66%);
    color: white;
    background:  hsl(0, 94%, 66%);
}

.signup button:hover{
    background: none;
    border: 3px solid white;
}

footer{
    text-align: center;
    background:  hsl(229, 31%, 21%);
    padding: 2rem 0;
}

.footer-nav{
    list-style-type: none;
    color: white;
    text-transform: uppercase;
}

.footer-nav li{
    font-weight: 400;
    margin: 1rem 0;
    cursor: pointer;
}

.footer-nav li:hover{
    color:hsl(0, 94%, 66%);
}

.socials{
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}


@media screen and (min-width: 900px){
    .main-menu{
        z-index: 0;
        position: unset;
        width: unset;
        height: unset;
        background:  none;
        top: unset;
        left: unset;
    }

    .main-menu, nav{
        display: flex;
        align-items: center;
    }

    nav{
        margin: 0 8rem;
    }

    .main-menu li{
        margin: 0 1rem;
    }

    .main-menu li a{
        color: black;
        font-size: 18px;
    }

    .main-menu .menu-header, .menu-btn{
        display: none;
    }

    .menu-login-btn button{
        border: none;
        background: hsl(0, 94%, 66%);
        font-size: 18px;
        height: 2rem;
        padding-inline: 2rem;
        border: 3px solid hsl(0, 94%, 66%);
    }

    .menu-login-btn button:hover{
        background: none;
        color:  hsl(0, 94%, 66%);
    }

    .hero-banner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: 0 6rem;
    }

    .hero-banner article{
        grid-column-start: 1;
        grid-row-start: 1;
        text-align: left;
    }

    .hero-banner article p{
        margin-inline: 1rem;
    }

    .hero-banner article h1 {
        margin-inline: 1rem;
        font-size: 45px;
        font-weight: 500;
    }

    .hero-banner img{
        grid-column-start: 2;
    }

    .features h1{
        font-size: 45px;
    }

    .features p{
        width: 40%;
        margin: 0 auto;
    }

    .feature-menu{
        display: flex;
        margin: 0 auto;
        border-bottom: 1px solid hsl(229, 8%, 60%);
    }

    .feature-menu li{
        border: none;
        margin-inline: 3rem;
    }

    .features .tab-articles{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-inline: 6rem;
    }

    .tab-articles article{
        text-align: left;
    }
    
    .tab-articles article p {
        margin: 1rem; 
        width: 100%;
    }

    .tab-articles img{
        width: 80%;
    }

    .tab-articles article h1{
        margin-inline: 1rem;
        font-weight: 500;
    }

    .tab-articles button{
        width: 40%;
        margin: 0 1rem;
    }

    .downloads article h1{
        font-size: 40px;
    }

    .downloads article p{
        width: 40%;
        margin: 0 auto;
    }

    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .faq{
        width: 50%;
        margin: 4rem auto;
    }

    .signup form{
        width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }    

    .signup form input{
        width: 85%;
        margin-inline: 1rem;
    }

    footer .footer-nav{
        display: flex;
    }

    footer .footer-nav li{
        margin-inline: 2rem;
    }
}